<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h1>Users</h1>
<button onclick="window.location.href = '/admin/new';">Add new user</button>
<br>
<br>
<table border="1">
    <tr>
        <th th:width="50">UserId</th>
        <th th:width="120">Name</th>
        <th th:width="120">Email</th>
        <th th:width="150">Username</th>
        <th th:width="150">Role</th>
        <th th:width="50">Edit</th>
        <th th:width="50">Delete</th>
    </tr>
    <tr th:each="user : ${users}">

        <td><a th:href="@{'/user' + ${user.id}}" th:utext="${user.id}">Id</a></td>
        <td th:utext="${user.firstName}">Name</td>
        <td th:utext="${user.email}">Email</td>
        <td th:utext="${user.username}">Username</td>
        <td>
            <div th:each="role : ${user.getRoles()}">
                <p th:text="${role.getRoleName()()}">Role</p>
            </div>
        </td>
        <td>
            <form th:action="@{'admin/edit/' + ${user.id}}">
                <input type="submit" class="buttonEdit" value="Edit"/>
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{'admin/delete/' + ${user.id}}">
                <input type="submit" class="buttonDelete" value="Delete"/>
            </form>
        </td>
    </tr>
</table>
<br>
<br>
<a th:href="@{/logout}"><button type="button">Logout</button></a>
</body>
</html>